{% extends 'layout.html' %}
{% block body1 %}
<title>My Blog-Edit</title>
{% endblock %}
{% block body3 %}
<a class="navbar-brand" >Welcome Mandeep!!</a>

{% endblock %}
{% block body4 %}
<li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
<li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
{% endblock %}
{% block body2 %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static',filename = 'assets/img/edit-bg.jpg')}}')">

            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h2>Let's Write Smthing Intersting</h2>
                            <span class="subheading">Come on Write! Write!! Write!!!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h3>Edit Post</h3>
                    <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work.-->
                    <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address!-->
                    <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally!-->
                    <form id="contactForm" name="sentMessage" action="/edit/{{data[0][5]}}"  method="post"  >
                        <!-- uper form wali line me kahi bhi novalidate likh diya to required wala attribute kam ni krega-->
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Title </label>
                                <input aria-label="Title" onclick="Title" class="form-control" id="title" type="text" placeholder="title" name="title" value="{{data[0][0]}}" required data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>sub_title</label>
                                <input class="form-control" id="sub_title" type="text" placeholder="sub_title" name="sub_title" value="{{data[0][1]}}" required data-validation-required-message="Please enter your email address." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>slug</label>
                                <input class="form-control" id="slug" type="text" placeholder="slug" name="slug" value="{{data[0][2]}}"  required data-validation-required-message="Please enter your phone number." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Content</label>
                                <textarea class="form-control" id="content" rows="5" placeholder="content"  name="content"  required data-validation-required-message="Please enter a message.">{{data[0][3]}}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Image Name</label>
                                <input class="form-control" id="image_name" type="text" placeholder="image_name" name="image_name" value="{{data[0][4]}}" required data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br />
                        <div id="success"></div>
                        <button class="btn btn-primary" id="SubmitButton" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}